$primary: #7d161e;
$secondary: #b99f72;
$gray: #9b9b9b;
$dark: #230608;
$bg-color: #e9ecef;
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $dark;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__field__solid {
    font-family: inherit;
    width: 100%;
    border: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $dark;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    ~.form__label {
        position: absolute;
        top: 0;
        left: 7px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $gray;
        background-color: white;
        padding-left: 3px;
        padding-right: 5px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__icon {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: auto;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
    background-color: transparent;
    border: none;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

.form__field__solid:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        left: 10px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}


/* reset input */

.form__field,
.form__field__solid {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

select {
    font-size: 1.3rem;
    height: 3rem;
    border-radius: 10px;
    border-color: transparent;
    background-color: #D6D6D6;
    outline: none;
    padding: 5px;
    width: 100%;
}

.select-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 15px;
    label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }
    select {
        display: inline-block;
    }
}

.special-label {
    margin-top: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 2.2rem;
    height: 1.3rem;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8666666666rem;
    width: 0.8666666666rem;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX( 0.8666666666rem);
    -ms-transform: translateX( 0.8666666666rem);
    transform: translateX( 0.8666666666rem);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch__text {
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

textarea {
    width: 100%;
    border-color: $gray;
    border-radius: 10px;
    border-width: 3px;
}