.schedule-cell {
    border: 2px solid;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    overflow-y: hidden;
    height: 1.8rem;
}

.schedule-cell-empty {
    border: 2px solid;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    overflow-y: hidden;
    height: 1.8rem;
}

.cell-empty {
    overflow-y: hidden;
    height: 0.9rem;
}