.signup-card {
    width: 60rem;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signup-title {
    margin-top: 1rem;
    font-weight: 700;
}

.pwd-comment-unactive {
    color: #9b9b9b;
    margin-top: 0;
}

.signup-btn {
    font-size: 1.3rem;
    height: 3rem;
    width: 10rem;
}

.card {
    border-radius: 20px;
}